:root {
  --container-big: 1600px;
  --container-small: 1080px;
  --basic-space: 15px;
  --scrollbar-width: 16px;
  --color-pink: #f0145a;
  --color-blue: #24a3ff;
  --color-dark-blue: #323264;
  --color-grey: #b3b3ba;
  --color-light-grey: #f5f5fa;
  --color-middle-gray: #e6e6f0;
  --bg-gradiend-dark: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
}

body {
  display: grid;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(var(--container-small) + var(--basic-space) * 4);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2 * var(--basic-space));
  padding-right: calc(2 * var(--basic-space));
}

.gradient1 {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
