@import url("./basic.css");
@import url("./media.css");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header .container {
  max-width: calc(var(--container-big) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}

.nav-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  padding-bottom: 30px;
}

.nav-dot {
  background-color: var(--color-grey);
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: none;
}

.nav-info {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: rgba(245, 245, 250, 0.2);
  max-width: calc(var(--container-big) + var(--basic-space) * 2);
  margin-left: calc(-1 * var(--basic-space));
  margin-right: calc(-1 * var(--basic-space));
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
}

.input {
  display: none;
  color: transparent;
}

.input ~ span {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 7px;
}

.input:checked ~ span {
  color: #ffffff;
  background-color: var(--color-pink);
  border-radius: 8px;
}

.nav-info {
  gap: 6px;
  color: #ffffff;
  justify-content: space-between;
}

.map-direction {
  display: none;
}

.nav-facebook {
  display: none;
  width: 24px;
}

.nav-facebook:hover > path {
  fill: var(--color-pink);
}

.nav-tel {
  order: 1;
  font-weight: 700;
  line-height: 19.5px;
}

.logo-block {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: start;
  margin-bottom: 12.5px;
  margin-top: 12.5px;
}

.logo-block > span {
  font-size: 20px;
  line-height: 24.38px;
}

.logo {
  width: 70px;
  height: 32px;
}

.slash {
  width: 12px;
  height: 26px;
}

.nav {
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 50px 12px 25px 12px;
  background-color: #ffffff;
  position: fixed;
  inset: 1rem;
  z-index: 1;
  align-items: center;
  border-radius: 12px;
  transition: all 0.4s linear;
}

.nav > span {
  text-align: end;
  max-width: 365px;
  width: 100%;
  color: #ec6f5d;
  font-size: 3rem;
  line-height: 1rem;
  cursor: pointer;
}

.nav > a {
  background-color: var(--color-light-grey);
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 359px;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.nav.active-n {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s linear;
}

.active {
  color: var(--color-pink);
}

.non-active {
  color: var(--color-blue);
}

.nav > a:hover {
  background-color: #e6e6f0;
  color: var(--color-blue);
}

.hide_check-img {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.hide_check-img > path {
  stroke: #ffffff;
}

.checkbox-box > button {
  border: none;
  background-color: transparent;
}

.checkbox-box {
  display: flex;
  position: relative;
  margin-bottom: 12.5px;
  margin-top: 12.5px;
  justify-content: flex-end;
}

body.gradient .header {
  position: absolute;
  color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bg-gradient::before {
  top: 100%;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  background: #cacadb;
  z-index: -1;
}

.bg-gradient::after {
  top: 100%;
  left: 40px;
  width: calc(100% - 80px);
  background: #e7e7f2;
  z-index: -2;
}

.bg-gradient::before,
.bg-gradient::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-radius: 0px 0px 12px 12px;
}

.first-section > h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}

/*------HEADER-------------------------------------------------------------------*/
.bg-gradient {
  background: var(--bg-gradiend-dark);
  border-radius: 0px 0px 12px 12px;
  position: relative;
  color: #ffffff;
  margin-bottom: 60px;
}

/*------FIRST-SECTION-------------------------------------------------------------------*/

.third-section {
  padding-bottom: 60px;
  padding-top: 130px;
}

.popup-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.popup-block-p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.popup-block-p1 > img {
  max-width: 100px;
}

.popup-dot {
  background: #f0145a;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: inline-block;
}

.discription-text {
  display: flex;
}

/*------THIRD-SECTION-------------------------------------------------------------------*/

.section-six {
  padding-top: 30px;
  background: var(--color-light-grey);
}

.title-six {
  margin-bottom: 30px;
}

.title-six > a > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-blue);
}

.title-six > h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card-block-six {
  display: grid;
  gap: 30px;
}

.card-sixth {
  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.card-sixth > img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.card-sixth-text {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-sixth-text > hr {
  border: #e6e6f0 solid 2px;
}

.card-sixth-text > a > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-blue);
}

.sixth-description {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.sixth-date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
}

/*------SIXTH-SECTION-------------------------------------------------------------------*/

.footer-hr {
  border: 1px solid #e6e6f0;
}

.footer-dot {
  background-color: var(--color-grey);
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: none;
}

.footer-block {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-facebook {
  max-width: 38px;
}

.footer-facebook:hover > path {
  fill: var(--color-pink);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-info > a {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 700;
  color: var(--color-blue);
}

.footer-info > p {
  line-height: 20px;
}

.footer-links {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.footer-tel {
  font-weight: 700;
  line-height: 20px;
  color: #46466e;
}

.footer-mail {
  font-weight: 700;
  color: var(--color-blue);
  line-height: 20px;
}

.footer-mail:hover {
  color: var(--color-pink);
}

.copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color: var(--color-grey);
}

.footer {
  background-color: var(--color-light-grey);
  padding-top: 30px;
}

/*------POPUP-SECTION-------------------------------------------------------------------*/

.form-p2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-grey);
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
}

.form-p2 > form > fieldset {
  border: none;
}

.form-p2 > form {
  margin-left: 30px;
  margin-right: 30px;
}

.form-p2 > form > fieldset > label > input {
  border: none;
  width: 100%;
  border-radius: 8px;
}

.section1-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section1-form > button {
  margin-bottom: 30px;
  border: none;
  background-color: var(--color-blue);
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  cursor: pointer;
}

.section1-form > button:hover {
  background-color: #0085ff;
}

.section1-form > button:active {
  background-color: #006ccf;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#name,
#message,
#tel,
#email {
  line-height: 26px;
  padding: 15px 0 15px 15px;
}

#name::placeholder,
#message::placeholder,
#tel::placeholder,
#email::placeholder {
  color: var(--color-grey);
}

#name:invalid,
#message:invalid,
#tel:invalid,
#email:invalid {
  color: #ff0000;
  outline: 1px solid #ff0000;
}

#message {
  padding-bottom: 90px;
}

input:focus {
  outline: 1px solid #24a3ff;
}

.form-fieldset > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.popup-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  position: fixed;
  inset: 0;
  background-color: rgba(50, 50, 100, 0.7);
  z-index: 10;
}

.active-p {
  display: flex;
}

.close-popup {
  color: transparent;
  border: none;
  background-color: transparent;
}

.popup-title {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 40px;
}
